<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mycss.css">
    <style>
        .completed{
            text-decoration: line-through;/*畫線*/
            color:red;
        }
    </style>
</head>

<body>
    <div id="app">
       <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group my-1">
                    <span class="input-group-text">代辦事項</span>
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" v-model="newTodo">                       <!--v-on的縮小-->
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" @click="addTodo()">新增</button>
                </div>
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link " aria-current="page" href="#" :class="{'active':visibility=='all'}" @click="visibility='all'">全部</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#" :class="{'active':visibility=='ing'}" @click="visibility='ing'">進行中</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#" :class="{'active':visibility=='done'}" @click="visibility='done'">已完成</a>
                            </li>
                          </ul>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(item,key) in filtertodo">
                                <div class="d-flex justify-content-between">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="item.completed">
                                        <label class="form-check-label" :class="{'completed':item.completed}" for="flexCheckDefault">
                                          {{item.title}}
                                        </label>
                                    </div>
                                    <button type="button" class="btn-close" aria-label="Close" @click="removeTodo(item)"></button>
                                </div>
                                
                            </li>
                          
                          </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span>還有XX筆任務</span>
                        <a href="#">清除所有任務</a>
                    </div>
                    
                </div>
            </div>
        </div>
       </div>

    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <Script>
        //物件
        const App = {
            data() {
                return {
                    newTodo:"123",
                    visibility:'all',
                    todos:[
                        {
                            id:"1",
                            title:"吃早餐",
                            completed: true
                        },
                        {
                            id:"2",
                            title:"吃午餐",
                            completed: false
                        },
                        {
                            id:"3",
                            title:"吃晚餐",
                            completed: false
                        }
                    ]
                    
                }
            },
            methods:{
                addTodo(){
                    const time=Date.now();
                    const title=this.newTodo.trim();//trim去除空白
                    if(!title){
                        //若title為空白，則return不往下執行
                        return;
                    };
                    this.todos.push({
                        id:time,
                        title:title,
                        completed: false
                    });
                    this.newTodo='';//新增完成後，清空
                },
                removeTodo(todo){
                    const vm=this;//this是 整個App物件  
                                //後面再寫this有可能是指其他物件 避免錯亂，先存在變數vm
                    const newIndex=vm.todos.findIndex((item,index)=>{
                        return todo.id ==item.id
                    });//走訪todos的每個元素(item，todos的每個陣列)，當該元素的id等於todo的id時，返還這個索引

                    vm.todos.splice(newIndex,1);//根據索引刪除資料，splice(索引,筆數)
                },
            },
            computed:{
                filtertodo(){
                    const vm=this;
                    if(vm.visibility=='all'){
                        return vm.todos;
                    }
                    else if(vm.visibility=='ing'){
                        const ing=[];
                        vm.todos.forEach((item,key)=>{
                            if(!item.completed){
                                ing.push(item);
                            };
                        })
                        return ing;
                    }
                    else if(vm.visibility=='done'){
                        const ing=[];
                        vm.todos.forEach((item,key)=>{
                            if(item.completed){
                                ing.push(item);
                            };
                        })
                        return ing;
                    };
                    
                }
            }
        }
        //產生物件，掛載至app
        Vue.createApp(App).mount("#app")
    </Script>
</body>

</html>